---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECURE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19930'
      X-Ratelimit-Reset:
      - '1621813704'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":3611545,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/city-skyline-across-body-of-water-during-night-time-3611545/","photographer":"Abbas
        Mohammed","photographer_url":"https://www.pexels.com/@abbas-mohammed-1990079","photographer_id":1990079,"avg_color":"#6E4A58","src":{"original":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg","large2x":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3611545/pexels-photo-3611545.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":3654874,"width":5940,"height":3960,"url":"https://www.pexels.com/photo/city-skyline-during-night-time-3654874/","photographer":"Griffin
        Wooldridge","photographer_url":"https://www.pexels.com/@griffinw","photographer_id":759544,"avg_color":"#312B29","src":{"original":"https://images.pexels.com/photos/3654874/pexels-photo-3654874.jpeg","large2x":"https://images.pexels.com/photos/3654874/pexels-photo-3654874.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940",[...]
