---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECURE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19899'
      X-Ratelimit-Reset:
      - '1621813704'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":2423927,"width":6000,"height":3000,"url":"https://www.pexels.com/photo/ferry-boat-on-body-of-water-2423927/","photographer":"Ken
        Ozuna","photographer_url":"https://www.pexels.com/@kenozu","photographer_id":1271481,"avg_color":"#2E3C47","src":{"original":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg","large2x":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2423927/pexels-photo-2423927.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":3052683,"width":5129,"height":2171,"url":"https://www.pexels.com/photo/modern-buildings-3052683/","photographer":"Scott
        Webb","photographer_url":"https://www.pexels.com/@scottwebb","photographer_id":39047,"avg_color":"#444849","src":{"original":"https://images.pexels.com/photos/3052683/pexels-photo-3052683.jpeg","large2x":"https://images.pexels.com/photos/3052683/pexels-photo-3052683.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://image[...]
