---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECURE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19917'
      X-Ratelimit-Reset:
      - '1621813704'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":7316857,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/city-buildings-at-dusk-7316857/","photographer":"MART
        PRODUCTION","photographer_url":"https://www.pexels.com/@mart-production","photographer_id":30039676,"avg_color":"#75858F","src":{"original":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg","large2x":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/7316857/pexels-photo-7316857.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":7316645,"width":5944,"height":3963,"url":"https://www.pexels.com/photo/city-high-rise-buildings-in-warsaw-7316645/","photographer":"MART
        PRODUCTION","photographer_url":"https://www.pexels.com/@mart-production","photographer_id":30039676,"avg_color":"#A5B4BB","src":{"original":"https://images.pexels.com/photos/7316645/pexels-photo-7316645.jpeg","large2x":"https://images.pexels.com/photos/7316645/pexels-photo-7316645.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0[...]
