---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECURE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19904'
      X-Ratelimit-Reset:
      - '1621813704'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":325185,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/view-of-cityscape-325185/","photographer":"Aleksandar
        Pasaric","photographer_url":"https://www.pexels.com/@apasaric","photographer_id":105079,"avg_color":"#CBD0D6","src":{"original":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg","large2x":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":3052361,"width":3843,"height":5790,"url":"https://www.pexels.com/photo/skyline-photography-of-buildings-3052361/","photographer":"Sanaan
        Mazhar","photographer_url":"https://www.pexels.com/@sanaan","photographer_id":1193942,"avg_color":"#141F21","src":{"original":"https://images.pexels.com/photos/3052361/pexels-photo-3052361.jpeg","large2x":"https://images.pexels.com/photos/3052361/pexels-photo-3052361.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","lar[...]
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECURE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19903'
      X-Ratelimit-Reset:
      - '1621813704'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":325185,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/view-of-cityscape-325185/","photographer":"Aleksandar
        Pasaric","photographer_url":"https://www.pexels.com/@apasaric","photographer_id":105079,"avg_color":"#CBD0D6","src":{"original":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg","large2x":"https://images.pexels.com/photos/325185/pexels-photo-3251[...]
[...]
