---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=SECURE&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 02:10:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=581316627"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=2027562871"}]}]}'
  recorded_at: Tue, 27 Apr 2021 02:10:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=SECURE&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619489457,"sunrise":1619438778,"sunset":1619488125,"temp":291.52,"feels_like":289.67,"pressure":998,"humidity":10,"dew_point":260.84,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.7,"wind_deg":245,"wind_gust":10.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619488800,"temp":291.52,"feels_like":289.67,"pressure":998,"humidity":10,"dew_point":260.84,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.7,"wind_deg":245,"wind_gust":10.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619492400,"temp":291.54,"feels_like":289.75,"pressure":998,"humidity":12,"dew_point":262.89,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.14,"wind_deg":239,"wind_gust":9.77,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619496000,"temp":291.18,"feels_like":289.4,"pressure":998,"humidity":14,"dew_point":264.38,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.95,"wind_deg":233,"wind_gust":7.79,"weather":[{"id":80[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=SECURE&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619538759,"sunrise":1619525100,"sunset":1619574586,"temp":282.59,"feels_like":280.5,"pressure":1007,"humidity":66,"dew_point":276.57,"uvi":3.76,"clouds":84,"visibility":10000,"wind_speed":3.92,"wind_deg":27,"wind_gust":4.7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619535600,"temp":282.99,"feels_like":281.31,"pressure":1007,"humidity":63,"dew_point":276.29,"uvi":1.85,"clouds":83,"visibility":10000,"wind_speed":3.29,"wind_deg":22,"wind_gust":4.31,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.87,"rain":{"1h":0.28}},{"dt":1619539200,"temp":282.59,"feels_like":280.5,"pressure":1007,"humidity":66,"dew_point":276.57,"uvi":3.76,"clouds":84,"visibility":10000,"wind_speed":3.92,"wind_deg":27,"wind_gust":4.7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.87},{"dt":1619542800,"temp":282.85,"feels_like":280.69,"pressure":1007,"humidity":64,"dew_point":276.38,"uvi":5.59,"clouds":85,"visibility":10000,"wind_speed":4.21,"wind_deg":50,"wind_gust":4.78,"weat[...]
[...]
