---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=SECURE&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 01:55:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1577393079"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1748536300"}]}]}'
  recorded_at: Wed, 28 Apr 2021 01:55:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=SECURE&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619574937,"sunrise":1619525100,"sunset":1619574586,"temp":279.31,"feels_like":279.31,"pressure":1009,"humidity":88,"dew_point":277.47,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":341,"wind_gust":4.02,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":1.37}},"hourly":[{"dt":1619571600,"temp":280.07,"feels_like":276.55,"pressure":1008,"humidity":85,"dew_point":277.73,"uvi":0.09,"clouds":100,"visibility":10000,"wind_speed":5.82,"wind_deg":43,"wind_gust":6.14,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.84,"rain":{"1h":0.4}},{"dt":1619575200,"temp":279.31,"feels_like":275.59,"pressure":1009,"humidity":88,"dew_point":277.47,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.82,"wind_deg":28,"wind_gust":7.47,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.88,"rain":{"1h":1.54}},{"dt":1619578800,"temp":279.49,"feels_like":275.55,"pressure":1009,"humidity":89,"dew_point":277.81,"uvi":0,"clouds":100,"visibility":2727,"wind_speed":6.54,"wind_deg":[...]
