---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=SECURE&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 14 May 2021 18:37:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1359954022"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=SECURE&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1149765457"}]}]}'
  recorded_at: Fri, 14 May 2021 18:37:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=SECURE&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1621017462,"sunrise":1620992762,"sunset":1621044402,"temp":292.53,"feels_like":291.44,"pressure":1015,"humidity":35,"dew_point":276.69,"uvi":7.15,"clouds":98,"visibility":10000,"wind_speed":2.68,"wind_deg":355,"wind_gust":2.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1621015200,"temp":292.4,"feels_like":291.32,"pressure":1015,"humidity":36,"dew_point":276.98,"uvi":8.22,"clouds":98,"visibility":8437,"wind_speed":2.6,"wind_deg":41,"wind_gust":2.63,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.57}},{"dt":1621018800,"temp":292.53,"feels_like":291.44,"pressure":1015,"humidity":35,"dew_point":276.69,"uvi":7.15,"clouds":98,"visibility":10000,"wind_speed":2.68,"wind_deg":355,"wind_gust":2.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.15},{"dt":1621022400,"temp":292.48,"feels_like":291.41,"pressure":1014,"humidity":36,"dew_point":277.05,"uvi":6.68,"clouds":98,"visibility":10000,"wind_speed":3.01,"wind_deg":32,"wind_gust":3.36,[...]
[...]
